<footer id="footer" class="footer">
    <!-- <script src="../Content/js/footer.js" type="text/javascript"></script> -->
    <nav class="navbar">
        <nav>
            <ul class="nav" style="margin-left:13%">
                <li>
                    <a href="foot?id=1" id="footer_about">About</a>
                </li>
                <li>
                    <a href="foot?id=2">Help</a>
                </li>

                <li>
                    <a href="foot?id=4">Contact</a>
                </li>
                <li>
                    <a href="#">Advertise</a>
                </li>
            </ul>
            <ul class="nav" style="float:right;margin-right:13%">
                <li>
                    <a href="/terms">Terms</a>
                </li>
                <li>
                    <a href="foot?id=3">Feedback</a>
                </li>
                <li>
                    <a href="" onClick="return false">
                        <i class="fa fa-copyright">Copyright 2015</i>
                    </a>
                </li>
                <li>
                    <a href="http://nitgoa.ac.in">Made in India by NITG</a>
                </li>
            </ul>
        </nav>
    </nav>
</footer>